---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- <section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
        
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}
        
    </div>
</section> -->

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    
    <div class="section-title text-center">
        
        <h2><span>All Stories</span></h2>
        
    </div>
    
    <div class="row listrecent">

        {% for post in paginator.posts %}

               {% include postbox.html %}          

        {% endfor %}
        <center>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" data-ad-format="fluid" data-ad-layout-key="-5z+cx+56-f3+1q"
            data-ad-client="ca-pub-4747497961433710" data-ad-slot="1766730905"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </center>
        
    </div>
    
</section>

<!-- <div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %} -->
</span>
</div>

